*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #313333;
}
.slide_height{
    height: 480px ;
}
.nav-content-bg{
    background-color: #6c757d54 ;
}
.border-modal{
    border-bottom: 1px solid rgba(214, 231, 253, 0.452);
}
.accordation-header{
    margin-bottom: 0;
}
.card-header{
    padding: 0;
    border-bottom: 0.5px solid #e9ecef;
}
.icon-hover{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.icon-hover:not(.collapsed)::after {
    background-image: url(../images/download.svg);
    transform: rotate(-180deg);
}
.icon-hover::after{
    content:" ";
    background-image: url(../images/download.svg);
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s cubic-bezier(0.65, 0.2, 0.58, 1);
}

/* ---------------------- */
.bg-img1{
    height: 300px;
    padding: 0;
    background-image: url("../images/6.jpg");
    background-attachment: fixed;
    background-size: cover;

}
.bg-img2{
    height: 300px;
    padding: 0;
    background-image: url("../images/7.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* ------------ */
.card{
    margin: 30px 0;
}

/* ---------------- */

a i {
    font-size: 50px;
}
.p-hover a{
    color: #212529;
}
.p-hover:hover a{
    color: blue;
}